
main {
    padding-top: 1.5rem;
}

.header img {
    float: left;
    width: 50px;
    height: 50px;
    background: #555;
}


.affix {
    position: fixed;
}



.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}






p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #c42275; background-color: #ffffff}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 10.0px Helvetica; background-color: #ffffff; min-height: 14.0px}
p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #1e9421; background-color: #ffffff}
p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #1e9421; background-color: #ffffff; min-height: 21.0px}
p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #539aa4; background-color: #ffffff}
p.p6 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #000000; background-color: #ffffff}
p.p7 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #0435ff; background-color: #ffffff}
p.p8 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #c81b13; background-color: #ffffff}
p.p9 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #000000; background-color: #ffffff; min-height: 21.0px}
p.p10 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #3c828b; background-color: #ffffff}
span.s1 {color: #000000}
span.s2 {color: #c42275}
span.s3 {color: #0435ff}
span.s4 {color: #703daa}
span.s5 {color: #c81b13}
span.s6 {font: 18.0px 'PingFang SC'}
span.s7 {font: 18.0px 'PingFang SC'; color: #c81b13}
span.s8 {font: 18.0px 'Apple Color Emoji'}
span.s9 {color: #3e1e81}
span.s10 {color: #539aa4}
span.s11 {color: #31595d}
span.s12 {color: #3c828b}


